.CheckoutProduct{
    display:flex;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
 }

 .CheckoutProduct_info{
    padding-left: 20px;
 }

 .CheckoutProduct_info > button{

    background: orange;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29 ;
    color: black;
 }

 .CheckoutProduct_image{
    object-fit: contain;
    width: 100px;
    height: 200px;
    align-items: center;
 }

 .CheckoutProduct_rating{
    display: flex;
 }
 .CheckoutProduct_title{
    font-size: 17px;
    font-weight: 800;
   
 }